<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>

  <div id="app">

    <!-- sfondo -->
    <div class="sfondo">

    <!-- container riquadro -->
    <div class="squarecontainer">
      <!-- riquadro bianco -->
      <div class="square">

        <!-- BLOCCO SINISTRA -->
        <div class="blockleft">

          <!-- nome utente -->
          <div class="navleft">
            <div class="blocknavleft1">
              <img src="img/avatar_io.jpg" alt="">
            </div>
            <div class="blocknavleft2">
              <div class="user">
                Nome Utente
              </div>
            </div>
            <div class="blocknavleft3">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <!-- notifiche -->
          <div class="subleft1">
            <div class="blocknotifiche1">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="blocknotifiche2">
              <div class="notifiche">
                Ricevi notifiche di nuovi messaggi
              </div>
              <div class="desktop">
                Attiva notifiche desktop
              </div>
            </div>
          </div>

          <!-- input -->
          <div class="subleft2">
            <input placeholder="Cerca o inizia una nuova chat">
          </div>

          <!-- lista contatti -->
          <div class="contacts">
            <ul>
              <li v-for ="(contatto, index) in contatti" @click='chatindex = index'>
              <img :src="contatto.img" alt="">
              <div class="">{{contatto.nome}}</div>
              <div class="time">{{contatto.lastonline}}</div>
              </li>
            </ul>
          </div> <!-- chiusura contacts -->

        </div> <!-- chiusura blocco sinistra -->

        <!-- BLOCCO DESTRA -->
        <div class="blockright">

          <!-- nav di destra in cui appare in alto chi è stato selezionato -->
          <div class="navright">

            <!-- navbar/header -->
            <div class="blocknavright1">
              <img :src="contatti[chatindex].img" alt="">
            </div>
            <div class="blocknavright2">
              <div class="nomenav">
                <div class="">{{contatti[chatindex].nome}}</div>
              </div>
              <div class="log">
                <div class="">{{contatti[chatindex].lastonline}}</div>
              </div>
            </div>
            <div class="blocknavright3">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <!-- chiusura nav di Luisa -->


          </div> <!-- chiusura navright -->

          <!-- interfaccia chat -->
          <div class="subright1">

            <!-- chat dell'utente -->
            <div class="userchat">
                  <div v-for="(nuvola, index) in contatti[chatindex].messaggi" :class ="nuvola.stato">
                <p>{{nuvola.testo}}
                  <span class="chatdata">{{nuvola.datainfo}}</span>
                </p>
              </div> <!-- chiusura primo v-for -->

                  <div v-for="(nuvola2, index) in chatnuova" :class ="nuvola2.stato2">
                <p>{{nuvola2.testo2}}
                  <span class="chatdata">{{nuvola2.datainfo2}}</span>
                </p>
              </div> <!-- chiusura secondo v-for -->

            </div> <!-- chiusura userchat -->

          </div> <!-- chiusura subright1 -->

          <!-- NAV IN BASSO -->
          <!-- interfaccia input in basso -->
          <div class="subright2">
            <div class="subcontentright1">
              <i class="far fa-smile"></i>
            </div>
            <div class="subcontentright2">
              <input id="write" v-model="typetext" @keyup.enter="storeText" placeholder="Scrivi un messaggio">
            </div>
            <div class="subcontentright3">
              <i class="fas fa-microphone" @click="storeText"></i>
            </div>
          </div>


        </div> <!-- chiusura blocco destra -->


      </div> <!-- chiusura riquadro bianco -->
    </div> <!-- chiusura container riquadro -->

  </div> <!-- chiusura sfondo -->
</div> <!-- chiusura app -->



  <script src="js/myscript.js"></script>
  </body>
</html>
